.timer{
    justify-content: center;
    display: flex;
}

.stopwatch-time{
    font-size: 80px;
}

.stopwatch-text{
    font-size: 30px;
}

.stopwatch-buttons{
    padding: 5px;
    width: 40%;
    margin-bottom: 5px;
    border-radius: 5px;
    outline: none;
}